.opening-animation {
  margin: 0 auto;
  max-width: 320px;
  height: 445px;
  position: relative;
  z-index: 1;
  @include mq($from: mobile, $until: tablet) {
    margin-top: 30px;
  }
}

.opening-animation__bg {
  z-index: -1;
}

.opening-animation__bg2 {
  z-index: -2;
}

.opening-animation__keyboard,
.opening-animation__mouse,
.opening-animation__monitor {
  position: absolute;
}

.opening-animation__monitor {
  left: 70px;
  max-width: 215px;
  top: 40px;
}

.opening-animation__keyboard {
  max-width: 200px;
  bottom: 70px;
  left: 0px;
  z-index: 1;
}

.opening-animation__mouse {
  left: 205px;
  bottom: 45px;
  max-width: 65px;
}