.c-image-gallery {
  text-align: center;
}

.c-image-gallery__img {}

.c-image-gallery__pickers {
  margin: 25px 0;
}

$image-gallery-picker-radius: 10px;
$image-gallery-picker-radius-mobile: 20px;
.c-image-gallery__picker {
  display: inline-block;
  width: $image-gallery-picker-radius;
  height: $image-gallery-picker-radius;
  border-radius: 50%;
  margin-right: 15px;
  box-shadow: 0 0 0 2px white;
  cursor: pointer;
  @include mq($from: mobile, $until: desktop) {
    width: $image-gallery-picker-radius-mobile;
    height: $image-gallery-picker-radius-mobile;
    margin-right: 25px;
  }
}