.u-text-main {
  color: $dark-grey;
}

.u-text-big {
  font-size: 18px;
}

.u-text-strong {
  font-weight: 800;
}

.u-text-small {
  font-size: 85%;
}

.u-text-muted {
  opacity: 0.5;
}

.u-text-embossed-dark {
  text-shadow: 1px 0 black;
}

.u-text-justify {
  text-align: justify;
}