.u-position-relative {
  position: relative;
}

.u-inline-block {
  display: inline-block;
}

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

.u-text-center {
  text-align: center;
}

.layer-1 {
  position: relative;
  z-index: 1;
}

.u-pull-up-large {
  margin-top: -#{$inuit-global-spacing-unit-large};
}

.u-full-page {
  height: 100vh;
}

.u-full-page-98 {
  height: 98vh;
}

.u-center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.u-vertical-center-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}