.u-border-light {
  border: 1px solid $grey;
}

.u-rounded-corners-small {
  border-radius: 4px;
}

.u-rounded-corners-large {
  border-radius: 8px;
}

.u-border-bottom-white {
  border-bottom: 1px solid white;
}