$main-color: #5f8fbf;
$main-color-btn: lighten($main-color, 20%);
$secondary-color: #5981c1;
$tertiary-color: #2090b7;

$main-color-negative: white;

$lightest-blue: #f0f6ff;

$lightest-grey: #f8f8f8;
$light-grey: #f5f5f5;
$grey: #dcdcdc;
$dark-grey: #828282;